<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
  </head>
  <body>

    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">
            Spamscore
          </a>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="text-center">
            <h1>
              We've helped score over <br>
              <strong>9,230,230</strong> emails with <br>
              spam detection software.
            </h1>
            <hr>
            <p class="lead">
              To get a spam score simply send your email to: <br>
              <code>{{.MessageID}}@spamscore.io</code>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <p>
          <a href="/">terms</a> | 
          <a href="/">privacy</a> | 
          <a href="https://github.com/georgedrummond/spamscore" target="_blank">github</a>
        </p>
      </div>
    </div>
  </body>
</html>
